stages:
  - build
  - test
  - deploy

include:
  - local: "backend/.gitlab-ci.yml"
    rules:
      - changes:
          - "backend/**/*"
  - local: "frontend/.gitlab-ci.yml"
    rules:
      - changes:
          - "frontend/**/*"
