stages:
  - build
  - test
  - deploy

variables:
  GIT_FETCH_EXTRA_FLAGS: "--retry 5" # Add retry flags
  GIT_STRATEGY: "clone" # Force fresh clone instead of fetch

include:
  - local: "backend/.gitlab-ci.yml"
    rules:
      - changes:
          - "backend/**/*"
  - local: "frontend/.gitlab-ci.yml"
    rules:
      - changes:
          - "frontend/**/*"
