services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      # TODO: Nanti ganti urlnya
      test: "curl -f http://localhost:3000/health"
      interval: 30s
      timeout: 10s
      retries: 3

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:3000"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      # TODO: Nanti ganti urlnya
      test: "curl -f http://localhost:5173/"
      interval: 30s
      timeout: 10s
      retries: 3

  db:
    build: 
      context: ./backend/src/db
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: "pg_isready -U $POSTGRES_USER"
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
