services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: "curl -f http://localhost:3000/health || exit 1"
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 10s
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:3000"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: "curl -f http://localhost:3000/ || exit 1"
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 5s
  db:
    build:
      context: ./backend/src/db
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network
    healthcheck:
      test: "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || exit 1"
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
volumes:
  pgdata:
networks:
  app-network:
    driver: bridge

# TODO: Nanti ganti semua waktu healthcheck lebih lama buat production